body {
    padding: 10px;
    display: flex;
}

/* Error messages block */

.errors-list {
    position: absolute;
}

.error-message {
    margin: 5px 0 0 5px;
    padding: 15px 15px 15px 15px;
    width: 250px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e57676;
    background-color: #e57676;
    pointer-events: none;
}

.error-message:hover {
    opacity: 0.5;
}

.error-message-hide-btn {
    position: absolute;
    margin: -15px 0 0 250px;
    border-style: none;
    background-color: transparent;
}

.error-message .error-message-hide-btn {
    pointer-events: auto;
}

.error-message .error-message-hide-btn:hover {
    cursor: pointer;
}

/* Tool buttons */

.toolbtn {
    padding: 0;
    height: 35px;
    width: 35px;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    background-color: #ffffff;
}

.toolbtn:hover:enabled {
    background-color: #D0D0D0;
    cursor: pointer;
}

.toolbtn:disabled {
    background-color: #ededed;
}

.toolicon {
    margin: auto;
    display: block;
    padding: 0;
    height: 25px;
    width: 25px;
}

.tooltiptext {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    margin-top: 16px;
    padding: 5px 6px;
    width: auto;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.5s;
}

/* Categories part */

.categories-part {
    margin-right: 10px;
    float: left;
}

.categories-toolbar {
    white-space: nowrap;
}

.categories-list {
    margin-top: 10px;
}

.category-creation-prompt {
    position: absolute;
    margin: 2px 0 0 0;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 5px;
}

.category-icons-list-prompt {
    position: absolute;
    margin: 2px 0 0 -1.5px;
    padding: 5px 0 0 5px;
    width: 320px;
    text-align: left;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 5px;
}

.category-icon-button {
    float: left;
    margin: 0 5px 5px 0;
    padding: 6px 0 2px 0;
    height: 65px;
    width: 73px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
}

.category-icons-list-prompt label {
    float: left;
}

.category-icons-list-prompt input[type="radio"] {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0 0 0 -50px;
}

input[type="radio"]:hover+.category-icon-button {
    cursor: pointer;
    background-color:#D0D0D0;
}

input[type="radio"]:checked+.category-icon-button {
    background-color: #b7b7b7;
}

input[type="radio"]:checked:hover+.category-icon-button {
    background-color:#D0D0D0;
}

.category-button {
    margin-bottom: 7px;
    padding: 0;
    height: 75px;
    width: 75px;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
}

.category-button-regular {
    background-color: transparent;
}

.caregory-button-highlinted {
    background-color: #b7b7b7;
}

.category-button:hover {
    background-color: #D0D0D0;
    cursor: pointer;
}

.category-button-icon {
    margin: 0 0 0 6.5px;
    padding: 5px 0 0 0;
    display: block;
    padding: 0;
    height: 60px;
    width: 60px;
}

/* Notes part */

.notes-part {
    margin-right: 10px;
    float: left;
}

.notes-toolbar {
    white-space: nowrap;
}

.notes-list {
    margin-top: 10px;
}

.note-link {
    text-decoration: none;
    color: #D0D0D0;
}

.note-link :hover {
    background-color: #D0D0D0;
    border-color: #D0D0D0;
}

.note-announce-regular {
    background-color: #e3e3e3;
    border-color: #dcdcdc;
}

.note-announce-highlinted {
    background-color: #F9F9F9;
    border-color: #D0D0D0;
}

.note-announce {
    min-height: 50px;
    margin-bottom: 7px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
}

.notes-list>a>div>h3 {
    margin: 5px 0 2.5px 3px;
    text-align: left;
    color: black;
}

.notes-list>a>div>p {
    margin: 2.5px 3px 0 0;
    padding: 0;
    text-align: right;
    color: gray;
}

/* Canvas part */

.canvas-part {
    margin-right: 10px;
    float: left;
}

.canvas-toolbar {
    white-space: nowrap;
}

.versions-list {
    position: absolute;
    margin: 2px 0 0 -80px;
    padding: 7px 7px 0 7px;
    width: 250px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
}

.empty-versions-list-tip {
    margin: 0 0 7px 0;
    text-align: center;
}

.version-link {
    text-decoration: none;
    color: #D0D0D0;
}

.version-announce-regular {
    background-color: #e3e3e3;
    border-color: #dcdcdc;
}

.version-announce-highlinted {
    background-color: #F9F9F9;
    border-color: #D0D0D0;
}

.version-announce {
    min-height: 50px;
    margin-bottom: 7px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
}

.version-link :hover {
    background-color: #D0D0D0;
    border-color: #D0D0D0;
}

.version-title {
    margin: 5px 0 2.5px 3px;
    text-align: left;
    color: black;
}

.version-date {
    margin: 2.5px 3px 0 0;
    padding: 0;
    text-align: right;
    color: gray;
}

.note-categories-list {
    position: absolute;
    margin: 2px 0 0 155px;
    padding: 15px 25px 15px 25px;
    background-color: #fff;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.empty-categories-list-tip {
    margin: 0 0 0 0;
    text-align: center;
}

.note-categories-list>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.canvas-entry {
    margin-top: 10px;
    height: 100%;
}

.canvas-entry>textarea {
    height: 100%;
    width: 100%;
}

/* For adaptive */

@media only screen and (max-width: 359px) {
    .categories-part {
        width: 75px;
        min-width: 75px;
    }

    .notes-part {
        min-width: 250px;
    }

    .canvas-part {
        width: 65%;
    }
}

@media only screen and (min-width: 360px) {
    .categories-part {
        width: 75px;
        min-width: 75px;
    }

    .notes-part {
        min-width: 250px;
    }

    .canvas-part {
        width: 65%;
    }
}

@media only screen and (min-width: 576px) {
    .categories-part {
        width: 75px;
        min-width: 75px;
    }

    .notes-part {
        min-width: 250px;
    }

    .canvas-part {
        width: 65%;
    }
}

@media screen and (min-width: 768px) {
    .categories-part {
        width: 75px;
        min-width: 75px;
    }

    .notes-part {
        min-width: 300px;
    }

    .canvas-part {
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    .categories-part {
        width: 75px;
        min-width: 75px;
    }

    .notes-part {
        min-width: 370px;
    }

    .canvas-part {
        width: 65%;
    }
}

@media screen and (min-width: 1200px) {
    .categories-part {
        width: 75px;
        min-width: 75px;
    }

    .notes-part {
        min-width: 370px;
    }

    .canvas-part {
        width: 100%;
    }
}